
#todo-container {
    width: 600px;
    margin: 3rem auto;
}
.todo {
    width: 100%;
    height: 60px;
    padding: 1.5rem;
    border-radius: 8px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between

}

.icon-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 15px;
}

.icon-control i {
    background-color: #31A2EE ;
    padding: 0.5rem 0.9rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
}

.icon-control i:hover {
    opacity: 1;
}

.icon-control i:nth-child(2) {
    background-color: #A19C9C;
}

.icon-control i:nth-child(3) {
    background-color: #DE1B1B;
}